services:
  product-service:
    build:
      context: ./ProductService
    container_name: product-service
    ports:
      - "8081:8081"
    networks:
      - spring-net

  order-service:
    build:
      context: ./OrderService
    container_name: order-service
    ports:
      - "8082:8082"
    depends_on:
      - product-service
    networks:
      - spring-net

networks:
  spring-net:
    driver: bridge